PORT = 5000 # Also change in frontend .env
TRUST_PROXY_HOPS = trust-proxy-hops-here
OTEL_SERVICE_NAME=diagram_backend_app
OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=http://172.18.0.8:4318/v1/traces
OTEL_EXPORTER_OTLP_METRICS_ENDPOINT=http://172.18.0.8:4318/v1/metrics
OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf
OTEL_LOG_LEVEL=debug