PORT = 5000 # Also change in frontend .env
TRUST_PROXY_HOPS = trust-proxy-hops-here
OTEL_SERVICE_NAME=diagram_backend_app
OTEL_EXPORTER_OTLP_ENDPOINT=http://alloy:4137
OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=http://alloy:4317
OTEL_EXPORTER_OTLP_METRICS_ENDPOINT=http://alloy:4317
OTEL_EXPORTER_OTLP_PROTOCOL=grpc
